<div class="container m-auto">
  <h1 class="text-center">Mi Aplicación</h1>
  <hr>
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut tellus magna. Fusce sagittis vulputate varius. Fusce commodo odio purus, in lacinia velit sagittis non. Maecenas vel urna quis ex fringilla gravida non vel urna. Aliquam congue fermentum efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
    </div>
    <!--Imagen dentro de una columna que ocupa el máximo ancho de ésta-->
    <div class="col-xl-6 col-sm-12">
      <img src="assets/ofiFeliz.jpg" class="img-fluid" alt="">
    </div>

  </div>
</div>
