/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialog1 {
  color: blue !important;
}

.dialogFondo {
  background-color: rgba(84, 221, 255, 0.23);
}
