<div class="container m-auto">
  <h1 class="text-center">Artículos</h1>
  <hr>

  <!--Tabla de artículos-->
  <table class="table">
    <!--Nombres de columna-->
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      <th scope="col">Disponible</th>
    </tr>
    </thead>

    <!--Filas de datos-->
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MacBook pro M2</td>
      <td>Informática</td>
      <td>10</td>
      <td>3.000€</td>
      <td>Sí</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>MacBook pro M1</td>
      <td>Informática</td>
      <td>3</td>
      <td>1.000€</td>
      <td>Sí</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>MacBook Air</td>
      <td>Informática</td>
      <td>15</td>
      <td>1.400€</td>
      <td>Sí</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>iPad pro</td>
      <td>Tabletas</td>
      <td>20</td>
      <td>900€</td>
      <td>Sí</td>
    </tr>


    </tbody>
  </table>


</div>
